*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/dakduck/nbproject/private/
/dakduck.demo/nbproject/private/
/dakduck.demo.plugins/nbproject/private/
/dakduck/build/
/dakduck/dist/
/dakduck.demo/dist/
/dakduck.demo/build/
/dakduck.demo.plugins/dist/
/dakduck.demo.plugins/build/
/dakutils/build/
/dakutils/dist/
/dakutils/nbproject/private/